In [3]:
import pandas as pd
import numpy as np
import regex as re

In [6]:
tur_data = pd.read_excel('tur.xlsx')
tur_data

,LOCATION,ROOMS,Date,Avg. Daily Rate,Occupancy Rate
0,Centro,1,Mon Jan 01 2018 00:00:00 GMT+0100 (hora estÃ¡n...,â‚¬95.88,0.60
1,Centro,1,Tue Jan 02 2018 00:00:00 GMT+0100 (hora estÃ¡n...,â‚¬88.31,0.56
2,Centro,1,Wed Jan 03 2018 00:00:00 GMT+0100 (hora estÃ¡n...,â‚¬82.42,0.51
3,Centro,1,Thu Jan 04 2018 00:00:00 GMT+0100 (hora estÃ¡n...,â‚¬78.22,0.45
4,Centro,1,Fri Jan 05 2018 00:00:00 GMT+0100 (hora estÃ¡n...,â‚¬75.69,0.39
...,...,...,...,...,...
20435,Tetuán,4,0,0,0.00
20436,Tetuán,4,0,0,0.00
20437,Tetuán,4,0,0,0.00
20438,Tetuán,4,0,0,0.00
20439,Tetuán,4,0,0,0.00

In [7]:
adr = list(tur_data['Avg. Daily Rate'])
print(adr[1])
adr[1].split('¬')

â‚¬88.31

['â‚', '88.31']

In [8]:
clean_adr = []

for i in adr:
    try:
        x = i.split('¬')
        clean_adr.append(x[1])
    except:
        clean_adr.append(i)

#str to floats

list_to_floats = []

for item in clean_adr:
    list_to_floats.append(float(item))

list_to_floats

[95.88,
 88.31,
 82.42,
 78.22,
 75.69,
 74.01,
 70.65,
 68.12,
 65.6,
 63.92,
 64.76,
 68.96,
 70.65,
 66.44,
 63.92,
 63.08,
 64.76,
 67.28,
 72.33,
 74.01,
 68.12,
 63.92,
 63.08,
 62.23,
 63.08,
 69.8,
 72.33,
 68.12,
 66.44,
 63.92,
 62.23,
 63.92,
 72.33,
 74.85,
 69.8,
 63.92,
 63.08,
 63.08,
 64.76,
 73.17,
 77.37,
 73.17,
 69.8,
 67.28,
 70.65,
 68.96,
 74.85,
 77.37,
 71.49,
 67.28,
 65.6,
 67.28,
 70.65,
 77.37,
 81.58,
 73.17,
 68.96,
 64.76,
 63.92,
 66.44,
 74.85,
 77.37,
 72.33,
 68.12,
 67.28,
 66.44,
 68.96,
 75.69,
 79.06,
 74.01,
 68.96,
 67.28,
 67.28,
 70.65,
 78.22,
 82.42,
 76.53,
 69.8,
 66.44,
 65.6,
 67.28,
 74.85,
 79.06,
 75.69,
 74.01,
 74.01,
 77.37,
 84.1,
 89.99,
 92.51,
 89.15,
 82.42,
 77.37,
 75.69,
 77.37,
 82.42,
 84.1,
 79.06,
 74.85,
 73.17,
 74.01,
 75.69,
 81.58,
 84.94,
 80.74,
 78.22,
 75.69,
 75.69,
 78.22,
 88.31,
 93.35,
 86.63,
 82.42,
 77.37,
 75.69,
 77.37,
 84.1,
 90.83,
 89.99,
 87.47,
 82.42,
 79.06,
 78.22,
 84.1,
 87.47,
 83.26,
 79.9,
 77.37,
 78.22,
 79.9,
 85.78,
 88.31,
 83.26,
 77.37,
 75.69,
 74.01,
 75.69,
 84.1,
 88.31,
 83.26,
 77.37,
 74.01,
 74.85,
 76.53,
 84.1,
 87.47,
 82.42,
 76.53,
 74.01,
 74.01,
 74.85,
 80.74,
 84.1,
 79.9,
 75.69,
 73.17,
 74.01,
 74.85,
 80.74,
 83.26,
 79.06,
 75.69,
 73.17,
 73.17,
 74.85,
 80.74,
 82.42,
 79.06,
 75.69,
 74.85,
 73.17,
 74.85,
 79.9,
 83.26,
 79.06,
 75.69,
 75.69,
 74.85,
 76.53,
 80.74,
 83.26,
 80.74,
 78.22,
 75.69,
 75.69,
 81.58,
 88.31,
 91.67,
 88.31,
 82.42,
 78.22,
 77.37,
 79.06,
 81.58,
 83.26,
 79.06,
 72.33,
 69.8,
 68.96,
 68.96,
 69.8,
 70.65,
 68.96,
 68.12,
 66.44,
 65.6,
 64.76,
 65.6,
 67.28,
 65.6,
 63.92,
 63.08,
 61.39,
 60.55,
 63.08,
 65.6,
 63.92,
 63.92,
 63.08,
 62.23,
 62.23,
 62.23,
 64.76,
 64.76,
 63.92,
 61.39,
 61.39,
 60.55,
 62.23,
 63.08,
 62.23,
 61.39,
 60.55,
 58.87,
 59.71,
 61.39,
 63.08,
 62.23,
 60.55,
 59.71,
 58.03,
 59.71,
 62.23,
 65.6,
 64.76,
 64.76,
 63.92,
 64.76,
 66.44,
 71.49,
 74.85,
 72.33,
 68.96,
 68.12,
 68.96,
 69.8,
 74.85,
 77.37,
 74.01,
 70.65,
 70.65,
 71.49,
 73.17,
 78.22,
 80.74,
 76.53,
 73.17,
 72.33,
 71.49,
 73.17,
 78.22,
 80.74,
 75.69,
 73.17,
 73.17,
 73.17,
 74.85,
 80.74,
 84.94,
 83.26,
 82.42,
 82.42,
 81.58,
 82.42,
 87.47,
 89.15,
 81.58,
 75.69,
 73.17,
 73.17,
 74.01,
 80.74,
 84.1,
 79.9,
 78.22,
 79.06,
 79.06,
 78.22,
 81.58,
 83.26,
 77.37,
 73.17,
 72.33,
 74.85,
 79.9,
 84.94,
 85.78,
 78.22,
 72.33,
 67.28,
 65.6,
 67.28,
 74.01,
 75.69,
 70.65,
 66.44,
 64.76,
 64.76,
 67.28,
 74.01,
 77.37,
 70.65,
 67.28,
 64.76,
 64.76,
 65.6,
 74.01,
 77.37,
 71.49,
 66.44,
 63.92,
 62.23,
 63.08,
 71.49,
 75.69,
 69.8,
 66.44,
 63.92,
 68.96,
 83.26,
 90.83,
 93.35,
 82.42,
 70.65,
 64.76,
 63.92,
 65.6,
 73.17,
 76.53,
 69.8,
 64.76,
 63.08,
 62.23,
 62.23,
 67.28,
 71.49,
 69.8,
 72.33,
 74.01,
 78.22,
 82.42,
 89.15,
 95.88,
 99.24,
 105.13,
 100.08,
 90.83,
 82.42,
 77.37,
 75.69,
 71.49,
 68.12,
 63.92,
 62.23,
 61.39,
 65.6,
 67.28,
 63.92,
 61.39,
 59.71,
 60.55,
 59.71,
 66.44,
 69.8,
 66.44,
 62.23,
 62.23,
 63.08,
 64.76,
 70.65,
 73.17,
 66.44,
 62.23,
 59.71,
 58.87,
 61.39,
 68.96,
 72.33,
 66.44,
 63.08,
 61.39,
 60.55,
 62.23,
 69.8,
 73.17,
 67.28,
 63.08,
 61.39,
 61.39,
 64.76,
 71.49,
 75.69,
 70.65,
 65.6,
 63.92,
 63.92,
 63.92,
 69.8,
 74.01,
 69.8,
 65.6,
 63.92,
 64.76,
 68.12,
 76.53,
 81.58,
 77.37,
 72.33,
 68.96,
 65.6,
 66.44,
 73.17,
 75.69,
 71.49,
 66.44,
 64.76,
 63.92,
 66.44,
 75.69,
 80.74,
 75.69,
 71.49,
 65.6,
 64.76,
 66.44,
 74.85,
 77.37,
 73.17,
 68.12,
 64.76,
 64.76,
 66.44,
 74.85,
 78.22,
 73.17,
 68.96,
 67.28,
 66.44,
 69.8,
 78.22,
 81.58,
 75.69,
 71.49,
 68.96,
 67.28,
 68.96,
 76.53,
 80.74,
 77.37,
 75.69,
 74.01,
 77.37,
 84.1,
 90.83,
 94.2,
 89.99,
 80.74,
 74.85,
 74.01,
 75.69,
 83.26,
 84.94,
 79.9,
 75.69,
 73.17,
 74.85,
 77.37,
 85.78,
 87.47,
 82.42,
 75.69,
 73.17,
 73.17,
 74.85,
 82.42,
 86.63,
 81.58,
 76.53,
 73.17,
 70.65,
 74.85,
 83.26,
 86.63,
 82.42,
 77.37,
 74.01,
 74.01,
 75.69,
 84.1,
 88.31,
 84.1,
 77.37,
 75.69,
 78.22,
 86.63,
 136.25,
 170.73,
 127.84,
 98.4,
 86.63,
 79.06,
 79.06,
 85.78,
 88.31,
 88.31,
 83.26,
 81.58,
 82.42,
 81.58,
 89.15,
 91.67,
 82.42,
 76.53,
 74.01,
 74.01,
 74.85,
 79.9,
 84.1,
 80.74,
 75.69,
 73.17,
 72.33,
 73.17,
 80.74,
 84.94,
 81.58,
 77.37,
 75.69,
 76.53,
 79.9,
 89.15,
 94.2,
 90.83,
 80.74,
 75.69,
 72.33,
 71.49,
 74.01,
 76.53,
 73.17,
 69.8,
 68.12,
 67.28,
 67.28,
 69.8,
 70.65,
 68.12,
 66.44,
 64.76,
 64.76,
 64.76,
 67.28,
 68.96,
 67.28,
 65.6,
 63.08,
 62.23,
 61.39,
 63.92,
 65.6,
 63.92,
 63.08,
 62.23,
 62.23,
 62.23,
 63.08,
 64.76,
 63.92,
 62.23,
 61.39,
 60.55,
 61.39,
 63.08,
 65.6,
 63.92,
 60.55,
 59.71,
 58.87,
 58.87,
 60.55,
 63.08,
 62.23,
 61.39,
 59.71,
 58.03,
 58.03,
 61.39,
 63.92,
 64.76,
 65.6,
 65.6,
 65.6,
 68.12,
 72.33,
 74.85,
 73.17,
 70.65,
 68.96,
 71.49,
 73.17,
 80.74,
 84.1,
 78.22,
 75.69,
 74.01,
 74.01,
 75.69,
 83.26,
 86.63,
 81.58,
 77.37,
 75.69,
 76.53,
 78.22,
 88.31,
 95.04,
 89.99,
 86.63,
 85.78,
 81.58,
 83.26,
 89.15,
 93.35,
 86.63,
 80.74,
 79.9,
 79.9,
 82.42,
 90.83,
 100.08,
 92.51,
 85.78,
 76.53,
 76.53,
 79.06,
 87.47,
 93.35,
 85.78,
 83.26,
 85.78,
 85.78,
 81.58,
 87.47,
 89.99,
 84.1,
 78.22,
 74.85,
 76.53,
 81.58,
 92.51,
 95.04,
 84.1,
 74.85,
 70.65,
 68.96,
 69.8,
 77.37,
 80.74,
 74.85,
 69.8,
 66.44,
 66.44,
 67.28,
 75.69,
 79.9,
 73.17,
 68.12,
 67.28,
 68.12,
 69.8,
 79.9,
 84.1,
 76.53,
 70.65,
 69.8,
 68.12,
 70.65,
 79.06,
 84.1,
 77.37,
 73.17,
 69.8,
 69.8,
 79.06,
 100.92,
 104.29,
 92.51,
 78.22,
 72.33,
 70.65,
 71.49,
 81.58,
 84.94,
 76.53,
 69.8,
 67.28,
 66.44,
 66.44,
 73.17,
 79.06,
 76.53,
 73.17,
 74.85,
 76.53,
 83.26,
 94.2,
 100.08,
 99.24,
 103.45,
 114.38,
 148.02,
 134.57,
 126.16,
 120.27,
 114.38,
 112.7,
 109.34,
 102.61,
 97.56,
 97.56,
 96.72,
 102.61,
 105.97,
 101.77,
 95.88,
 91.67,
 93.35,
 93.35,
 102.61,
 105.97,
 98.4,
 92.51,
 89.15,
 87.47,
 90.83,
 100.92,
 104.29,
 97.56,
 91.67,
 87.47,
 86.63,
 89.15,
 100.08,
 105.13,
 97.56,
 92.51,
 88.31,
 88.31,
 90.83,
 104.29,
 111.02,
 105.13,
 98.4,
 95.88,
 97.56,
 95.88,
 106.81,
 112.7,
 102.61,
 97.56,
 95.04,
 94.2,
 97.56,
 114.38,
 117.75,
 105.97,
 98.4,
 93.35,
 92.51,
 95.04,
 110.18,
 115.22,
 105.13,
 116.06,
 114.38,
 112.7,
 115.22,
 112.7,
 116.9,
 105.97,
 115.22,
 113.54,
 111.02,
 112.7,
 126.16,
 131.2,
 127.84,
 118.59,
 117.75,
 112.7,
 114.38,
 121.95,
 127.84,
 126.16,
 122.79,
 119.43,
 111.86,
 123.63,
 132.89,
 137.93,
 130.36,
 121.11,
 123.63,
 122.79,
 121.95,
 130.36,
 135.41,
 131.2,
 123.63,
 121.11,
 118.59,
 119.43,
 127.84,
 133.73,
 126.16,
 121.11,
 117.75,
 116.9,
 124.47,
 141.3,
 148.02,
 137.09,
 128.68,
 121.95,
 116.9,
 120.27,
 132.89,
 142.14,
 139.61,
 134.57,
 127.0,
 124.47,
 122.79,
 122.79,
 128.68,
 132.04,
 127.0,
 123.63,
 125.32,
 127.0,
 136.25,
 139.61,
 136.25,
 126.16,
 121.11,
 119.43,
 122.79,
 132.89,
 138.77,
 131.2,
 124.47,
 120.27,
 117.75,
 111.86,
 123.63,
 129.52,
 129.52,
 120.27,
 115.22,
 115.22,
 116.06,
 127.0,
 132.04,
 127.0,
 120.27,
 117.75,
 116.06,
 119.43,
 128.68,
 133.73,
 127.84,
 122.79,
 120.27,
 117.75,
 118.59,
 127.84,
 130.36,
 126.16,
 121.11,
 116.9,
 115.22,
 116.9,
 127.0,
 132.04,
 130.36,
 123.63,
 120.27,
 118.59,
 121.95,
 128.68,
 133.73,
 130.36,
 127.84,
 125.32,
 125.32,
 129.52,
 130.36,
 134.57,
 142.14,
 132.89,
 127.0,
 121.95,
 123.63,
 119.43,
 121.95,
 115.22,
 105.97,
 104.29,
 102.61,
 112.7,
 113.54,
 116.06,
 116.9,
 112.7,
 110.18,
 109.34,
 108.49,
 111.02,
 113.54,
 111.86,
 111.86,
 110.18,
 108.49,
 109.34,
 98.4,
 100.92,
 98.4,
 96.72,
 105.13,
 103.45,
 104.29,
 106.81,
 109.34,
 107.65,
 105.97,
 104.29,
 101.77,
 100.92,
 104.29,
 105.13,
 104.29,
 100.08,
 97.56,
 97.56,
 97.56,
 100.92,
 105.13,
 105.97,
 101.77,
 100.08,
 98.4,
 100.08,
 91.67,
 98.4,
 95.88,
 93.35,
 94.2,
 95.04,
 97.56,
 104.29,
 107.65,
 103.45,
 99.24,
 95.88,
 96.72,
 98.4,
 108.49,
 113.54,
 107.65,
 100.92,
 99.24,
 99.24,
 104.29,
 113.54,
 117.75,
 111.86,
 105.97,
 102.61,
 100.92,
 104.29,
 ...]

In [9]:
tur_data['Avg. Daily Rate'] = list_to_floats

tur_data['Avg. Daily Rate']

0        95.88
1        88.31
2        82.42
3        78.22
4        75.69
         ...
20435     0.00
20436     0.00
20437     0.00
20438     0.00
20439     0.00
Name: Avg. Daily Rate, Length: 20440, dtype: float64

In [10]:
tur_data

,LOCATION,ROOMS,Date,Avg. Daily Rate,Occupancy Rate
0,Centro,1,Mon Jan 01 2018 00:00:00 GMT+0100 (hora estÃ¡n...,95.88,0.60
1,Centro,1,Tue Jan 02 2018 00:00:00 GMT+0100 (hora estÃ¡n...,88.31,0.56
2,Centro,1,Wed Jan 03 2018 00:00:00 GMT+0100 (hora estÃ¡n...,82.42,0.51
3,Centro,1,Thu Jan 04 2018 00:00:00 GMT+0100 (hora estÃ¡n...,78.22,0.45
4,Centro,1,Fri Jan 05 2018 00:00:00 GMT+0100 (hora estÃ¡n...,75.69,0.39
...,...,...,...,...,...
20435,Tetuán,4,0,0.00,0.00
20436,Tetuán,4,0,0.00,0.00
20437,Tetuán,4,0,0.00,0.00
20438,Tetuán,4,0,0.00,0.00
20439,Tetuán,4,0,0.00,0.00

In [11]:
date = tur_data['Date']

In [12]:
date[0].split(' ')

['Mon',
 'Jan',
 '01',
 '2018',
 '00:00:00',
 'GMT+0100',
 '(hora',
 'estÃ¡ndar',
 'de',
 'Europa',
 'central)']

In [13]:
clean_date = []

for i in date:
    try:
        x = i.split(' ')
        clean_date.append(x[1])
    except:
        clean_date.append(i)

In [14]:
tur_data['Date'] = clean_date

In [15]:
tur_data

      LOCATION  ROOMS Date  Avg. Daily Rate  Occupancy Rate
0       Centro      1  Jan            95.88            0.60
1       Centro      1  Jan            88.31            0.56
2       Centro      1  Jan            82.42            0.51
3       Centro      1  Jan            78.22            0.45
4       Centro      1  Jan            75.69            0.39
...        ...    ...  ...              ...             ...
20435   Tetuán      4    0             0.00            0.00
20436   Tetuán      4    0             0.00            0.00
20437   Tetuán      4    0             0.00            0.00
20438   Tetuán      4    0             0.00            0.00
20439   Tetuán      4    0             0.00            0.00

[20440 rows x 5 columns]

In [17]:
tur_data.to_csv('rental_prices_tourist.csv', index=False)